.hero-image {
  background-image: url(../images/hero-graphic.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 100px;
  font-weight: 800;
  margin-left: 70px;
}

.port-logo {
  height: 250px !important;
  margin-right: 10px !important;
  margin-left: 50px !important;
  margin-top: 80px !important;
}

.type-wrap {
  margin-left: 72px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.about {
  font-size: 25px;
  background-color: #F5C15D ;
  margin-left: 0;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about p{
  overflow-x:visible;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  line-height: 2;
  text-indent: 40px;
}

.about img {
  float: right;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 400px
}

.inner-about {
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}