@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Pangolin&display=swap');

.hero-image {
  background-image: url(../images/hero-graphic.png);
  background-size: contain;
  background-attachment: initial;
  background-repeat: no-repeat;
}

.hero-tagline {
  font-family: 'Kanit', sans-serif;
  font-size: 100px;
  font-weight: 800;
  margin-left: 70px;
  overflow-y: hidden;
}

.port-logo {
  height: 250px !important;
  margin-right: 10px !important;
  margin-left: 50px !important;
  margin-top: 80px !important;
}

.type-wrap {
  margin-left: 72px;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 40px;
  font-weight: 100;
}

.about {
  font-size: 25px;
  background-color: #F5C15D ;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about p{
  overflow-x:visible;
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 2;
  text-indent: 40px;
}

.about img {
  float: right;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 400px
}

.inner-about {
  background-color: whitesmoke;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Media Queries */

@media (max-width: 1018px) { 

  .port-logo{
   display: none;
 }

 .type-wrap {
  font-weight: 700;

}

 .about {
  margin-top: 150px;
 }
}

@media (max-width: 680px) { 

  .hero-image {
    background-image: url(../images/mobile-hero.png);
    background-size: 100vh;
  } 

  .hero-tagline {
    font-size: 140px;
    margin-left: 15px;
    font-weight: 800;
  }

  .dev {
    font-size: 100px;
  }

  .all-hero-text {
    position: relative;
    top: 50px;
    height: 100vh;
  }

  .type-wrap {
    font-size: 20px;
    margin-left: 15px; 
  }

  .about {
    font-size: 15px;
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    box-shadow: none;
  }

  .inner-about {
    padding: 10px;
  }

  .about img {
    height: 250px
  }
}


@media (max-width: 509px) { 

  .hero-tagline {
    font-size: 90px;
  }

  .dev {
    font-size: 90px;
  }
}

@media (max-width: 457px) { 

  .hero-tagline {
    font-size: 100px;
  }

  .dev {
    font-size: 75px;
  }
}

@media (max-width: 408px) { 
  .dev {
    font-size: 60px;
  }
}

@media (max-width: 386px) { 
  .dev {
    font-size: 50px;
  }
}