.hero-image {
  background-image: url(../images/hero-graphic.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

h1 {
  font-family: 'Kanit';
  font-size: 100px;
  font-weight: 900;
  width: 60%;
  margin-left: 50px;
}

img {
  height: 250px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 20px;
  margin-top: 80px;
}