.background-img {
  background-image: url(../images/black-hero.png);
  height: 100vh;
  background-size: cover;

}

.resume {
  background-color: black;
}

.skills {
  margin-left: 150px;
  position: relative;
  bottom: 300px;
}

.skills h1 {
  color: white;
  position: relative;
  z-index: 1;
  top: 60px;
  overflow-y: hidden;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.download-wrap{
  height: 106px;
  border-radius: 15px;
  width: 330px;
  padding: 1rem;
  position: relative;
  left: 160px;
  top: 170px;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  margin: 10px;
}

.download {
  background: black;
  padding: 30px;
  height: 100px;
  border-radius: 15px;
  text-decoration: none !important;
}

.download h3 {
  color: white;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  text-align: center;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 90px;
  color: white;
  font-family: 'Kanit', sans-serif;
  height: 350px;
  width: 350px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.skill-box {
  margin: 7px;
}


