.resume {
  background-color: black;
}


.skills {
  margin-top: 150px;
}

.skills h1 {
  color: white;
  position: relative;
  z-index: 10;
  margin-bottom: -52px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  margin: 10px;
}

.javascript {
  background: #222;
  color: white;
  padding: 100px;
  text-align: center;
  font-size: 50px;
  padding-top: 80px;
  font-family: 'Kanit', sans-serif;
  font-weight: 100px;
}

.download-wrap{
  height: 106px;
  border-radius: 15px;
  width: 330px;
  float: right;
}

.download {
  background: #222;
  padding: 30px;
  height: 100px;
  float: right;
  border-radius: 15px;
}

.download a {
  color: white;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

